@import '../../../scssStyles/variable';
.item {
    padding: 5px;
    border: 1px solid $gray-400;
    margin-top: 5px;
    img {
        height: 120px;
        width: 90px;
        object-fit: cover;
    }
    .subject {
        justify-content: space-around;
        display: flex;
        flex-flow: column;
    }
    .flex-row {
        justify-content: space-evenly;
    }
}