@import '../../../scssStyles/variable';
.item {
    padding: 5px;
    border: 1px solid $gray-400;
    margin-top: 5px;
    img {
        height: 120px;
        width: 90px;
        object-fit: cover;
    }
    .subject {
        justify-content: space-around;
        display: flex;
        flex-flow: column;
        &__name {
            font-size: $font-size;
            padding: 0 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    }
    .flex-row {
        justify-content: space-evenly;
        i {
            margin: 0 5px;
            color: $gray500;
        }
        .total-order {
            color: orange;
        }
    }
}