@import '../../scssStyles/variable';
.pagination {
    justify-content: flex-end;
    gap: 5px;
    padding: 16px;
    font-size: 16px;
    span {
        color: black;
        cursor: pointer;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
    }
    span.active {
        background-color: $dark;
        color: white;
    }
    span:hover:not(.active) {
        background-color: #ddd;
    }
}