@import '../../scssStyles/variable';
.pagination {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, max-content));
    grid-gap: 5px;
    padding: 16px;
    font-size: 16px;
    span {
        color: black;
        // float: left;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
    }
    span.active {
        background-color: $dark;
        color: white;
    }
    span:hover:not(.active) {
        background-color: #ddd;
    }
}