@import '../../scssStyles/variable';
.my-order {
    display: grid;
    grid-gap: 32px;
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: repeat(5, minmax(max-content, 1fr));
        grid-gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: $gray-700;
        }
        .status {
            scroll-snap-align: start;
            background-color: transparent;
            font-size: 16px;
            padding: 5px;
            text-align: center;
            border: unset;
            cursor: pointer;
        }
        .status--active {
            border: unset;
            color: $red;
            border-bottom: 1px solid $red;
        }
    }
}

@media screen and(max-width: 576px) {
    .my-order {
        .sticky {
            grid-template-columns: repeat(5, minmax(220px, 80%));
            grid-gap: 5px;
        }
    }
}