@import '../../../../scssStyles/variable';
.chart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
    &__header {
        justify-content: flex-end;
        flex-wrap: wrap;
        display: flex;
        gap: 16px;
        padding: 8px;
        select {
            border: unset;
            outline: unset;
            background-color: transparent;
        }
    }
}