@import '../../../../../scssStyles/variable';
.overview {
    margin-top: 70px;
    &__item {
        background-color: white;
        height: 150px;
        padding: 30px;
        border: 1px solid $gray100;
        border-radius: 10px;
        align-items: center;
        & i {
            font-size: 30px;
            color: $dark-gray;
        }
    }
    font-size: $font-size;
}