@import '../../../../../scssStyles/variable';
.moda-detail {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-detail {}

.detail-modal {
    display: none;
}