@import '../../../scssStyles/variable';
.sort-bar {
    justify-content: space-between;
    font-size: 16px;
    padding: 16px 0;
    gap: 10px;
    .sortby {
        border: unset;
        border-bottom: 1px solid;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;
    }
    .display {
        align-self: center;
    }
    .filter {
        display: none;
        cursor: pointer;
        align-self: center;
        i {
            color: $dark;
        }
    }
}

@media screen and(max-width: 992px) {
    .sort-bar {
        .filter {
            display: block;
        }
    }
}