@import '../../../scssStyles/variable';
.manage-header {
    height: 70px;
}

.manage-title {
    font-size: $font-size;
    i {
        color: $gray600;
        margin-right: 20px;
    }
}

.action--center-item {
    justify-content: center;
    display: inline-block;
}

.lock-user {
    td {
        color: $red-light;
    }
}