@import "../../scssStyles/variable";
.more {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  color: $dark;
  font-size: $font-size;
  span {
    padding: 0 8px;
  }
  i {
    color: $dark;
  }
  &:hover {
    color: $red-light;
    i {
      color: $red-light;
    }
  }
}

.tab {
  padding-bottom: 30px;
  margin-top: 10px;
  .reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100px;
  }
  &__header {
    margin: 20px 0;
    margin-top: 0;
    color: $dark;
    justify-content: space-between;
    h2 {
      font-size: $text-large;
      font-weight: 300;
      align-self: center;
    }
    .feature {
      white-space: nowrap;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      color: $gray-700;
      font-weight: 400;
      li {
        padding: 16px;
      }
    }
    .feature--active {
      color: $dark;
      border-bottom: 1px solid;
      transition: width 0.3s;
    }
  }
}
