@import '../../scssStyles/variable';
.comment {
    font-size: 1.4rem;
    border-top: 1px solid $gray200;
    padding: 10px 0;
    &__item {
        .comment-author {
            color: $dark-gray;
        }
        .comment-product-name {
            padding: 4px 0;
            a {
                text-decoration: none;
                color: $btn-color-second;
            }
        }
        .justify-space {
            justify-content: space-between;
        }
        .comment-is-purchase {
            padding: 5px;
            align-self: center;
            border-radius: 12px;
            p {
                margin-left: 5px;
                color: $green-tiki;
            }
            i {
                color: $green-tiki;
            }
        }
    }
}

.star {
    padding: 4px 0;
}

i {
    color: $gray-400;
}

.star.checked i {
    color: orange;
}