@import '../../../../scssStyles/variable';
// @import '../../../../scssStyles/mixin';
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-next {
    right: 0!important;
}

.swiper-button-prev {
    left: 0!important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black!important;
}

.swiper-container.product-swiper {
    position: relative;
    padding: 0 50px!important;
    margin: 0 -50px!important;
    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
    }
    &::before {
        content: "";
        display: block;
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: white;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px!important;
    color: white;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 1000!important;
    background-color: $gray100;
    width: 44px!important;
    &:hover {
        background-color: $dark;
    }
}