@import '../../scssStyles/variable';
.shop {
    display: flex;
    gap: 16px;
    .modal {
        transition: 850ms;
    }
}

@media screen and(max-width: 992px) {
    .modal.active {
        display: flex;
        transition: 350ms;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($color: $gray100, $alpha: 0.4);
        justify-content: center;
        align-items: center;
    }
    .modal {
        display: none;
    }
}