@import '../../scssStyles/variable';
.shop {
    padding: 16px;
    .content {
        justify-content: space-between;
        .sort-bar {
            justify-content: space-between;
            font-size: 16px;
            padding: 16px 0;
            .sortby {
                border: unset;
                border-bottom: 1px solid;
                font-size: 16px;
                padding: 5px;
                outline: none;
            }
            .display {
                align-self: center;
            }
        }
    }
}