@import '../../scssStyles/variable';
.modal {
    transition: 850ms;
}

.filter-bar {
    padding: 16px;
    font-size: 16px;
    align-items: center;
    .label {
        border: 1px solid $gray-400;
        border-radius: 5px;
        padding: 8px 16px;
        min-width: 150px;
        display: flex;
        justify-content: space-between;
        b {
            cursor: pointer;
            padding-left: 16px;
        }
    }
}

.pagination-section {
    display: flex;
    justify-content: center;
}

@media screen and(max-width: 992px) {
    .modal.active {
        display: flex;
        transition: 350ms;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($color: $dark, $alpha: 0.4);
        justify-content: center;
        align-items: center;
    }
    .modal {
        display: none;
    }
}