@import '../../../scssStyles/variable';
.widget::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 10px;
}

.widget::-webkit-scrollbar {
    width: 5px;
}

.widget {
    // height: 100vh;
    width: 250px;
    overflow-y: scroll;
    background: #fff;
    font-size: 16px;
    .close {
        display: none;
    }
    .category {
        padding: 16px;
        border: 1px solid $gray100;
        &__title {
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            .toggle {
                cursor: pointer;
                i {
                    color: $dark;
                }
            }
        }
        &__list {
            height: 30vh;
            overflow-y: scroll;
            color: $dark;
            p {
                padding: 8px 0;
                cursor: pointer;
            }
            p:hover {
                color: $red-light;
            }
        }
        &__list::-webkit-scrollbar-thumb {
            background: $dark;
            border-radius: 10px;
        }
        &__list::-webkit-scrollbar {
            width: 10px;
        }
    }
}

@media screen and(max-width: 992px) {
    .widget {
        width: Max(80%, 200px);
        height: 80vh;
        .close {
            display: block;
        }
    }
}