@import '../../../../../scssStyles/variable';
.nav-bar {
    min-height: 100vh;
    width: 100%;
    color: $text-color-main;
    &__item {
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 6px;
        cursor: pointer;
        font-weight: normal;
        i {
            width: 20px;
            font-size: $font-size;
            color: $text-color-main;
        }
        &:hover {
            color: #1dc4e9;
            i {
                color: #1dc4e9;
            }
        }
    }
}

.active-link {
    border-left: 3px solid #1dc4e9;
    background-color: #333f54;
    i,
    a {
        color: $text-active;
    }
    .side-bar__item {
        &:hover {
            color: $text-active;
        }
    }
    &:hover {
        i {
            color: $text-active;
        }
    }
}

.side-bar__item {
    padding: 12px;
    width: 100%;
    display: block;
    color: $text-color-main;
    font-size: 1.4rem;
    &:hover {
        color: #1dc4e9;
    }
}

.dash-board {
    color: $text-active;
    text-align: center;
    padding: 20px 0;
    font-size: $text-large;
    &:hover {
        color: #1dc4e9;
        i {
            color: #1dc4e9;
        }
    }
    i {
        color: $text-active;
        margin-right: 20px;
    }
}