@import '../../../../scssStyles/variable';
.rank {
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    .user-point {
        color: $btn-color-second;
        cursor: pointer;
    }
    .rank-description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    .rank-title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .rank-point {
        display: flex;
        justify-content: space-between;
        .point {
            font-size: 13px;
        }
    }
    .rank-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 16px;
        .rank-item {
            display: grid;
            grid-template-columns: minmax(90px, auto) 1fr 12px;
            padding: 8px 16px;
            margin-bottom: 5px;
            border: 1px solid $gray-400;
            font-size: 14px;
            grid-gap: 8px;
            position: relative;
            &__img {
                height: 120px;
                width: 90px;
                object-fit: cover;
            }
            .sub {
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                gap: 5px;
                span {
                    color: $red-light;
                }
                .btn-container {
                    display: flex;
                    justify-content: space-between;
                    .use-btn {
                        border: none;
                        background: #fff;
                        color: $green-tiki;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}