@import "../../scssStyles/variable";
@import "../../scssStyles/mixin";
.detail-container {
  padding: 50px 0;
}

.product-image {
  border: 1px solid $gray200;
  border-radius: 5px;
  min-height: 100%;
  @include center-item;
  img {
    max-height: 380px;
    min-height: 100%;
    display: block;
    object-fit: cover;
    max-width: 100%;
  }
}

.product-infor {
  padding-left: 20px;
  font-size: $font-size;
  color: $gray500;
  .product-name {
    margin-bottom: 15px;
    font-size: $text-large;
    line-height: 3rem;
    font-weight: normal;
    color: $dark-gray;
  }
  .product-author {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .product-price {
    font-size: $text-large;
    color: $red;
  }
}

.number {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $gray200;
  border-radius: 2px;
  height: 40px;
  margin: 20px 0;
  .product-number {
    width: 40px;
    text-align: center;
    border: none;
    height: 100%;
    outline: none;
    background: none;
    font-size: $font-size;
  }
  .minus,
  .plus {
    width: 40px;
    text-align: center;
    cursor: pointer;
    // height: 20px;
  }
}

.product-desc {
  border-top: 1px solid $gray200;
  border-bottom: 1px solid $gray200;
  margin: 40px 0;
  padding: 40px 0;
  font-size: $font-size;
  .desc-title {
    margin-bottom: 20px;
    color: $dark-gray;
    font-size: $text-large;
    font-weight: normal;
  }
}

.review-title {
  margin-bottom: 20px;
  line-height: 3rem;
  color: $dark-gray;
  font-size: $text-large;
  font-weight: normal;
}

.write-review {
  padding-left: 50px;
  font-size: $font-size;
  .review-title {
    text-align: center;
  }
}

.title-text {
  display: block;
  margin: 10px 0;
}

textarea {
  border-color: $gray200;
  min-width: 100%;
  font-size: $font-size;
  border-radius: 5px;
  min-height: 80px;
  padding: 20px;
  &:focus {
    outline: none;
  }
}

.rating {
  display: flex;
  align-items: center;
  .title-text {
    margin-right: 15px;
  }
  .star {
    padding: 4px 0;
    padding-right: 15px;
  }
  i {
    font-size: $text-large;
    color: $gray-400;
    cursor: pointer;
  }
}

.star.checked i {
  color: orange;
}

@media screen and(max-width: 736px) {
  .product-infor {
    .product-name {
      margin-top: 15px;
    }
  }
}
