@import '../../scssStyles/variable';
.checkout {
    padding: 16px;
    color: $dark;
    font-size: 16px;
    label {
        font-weight: bold;
        color: unset;
    }
    h1 {
        text-align: center;
        padding: 40px;
    }
    .checkout-session {
        justify-content: space-between;
    }
}

.Orders {
    border: 1px solid $gray200;
    height: fit-content;
    color: $dark;
    font-size: 16px;
    .order-row {
        padding: 16px;
        line-height: 30px;
        border-bottom: $gray-400 2px solid;
        min-height: 50px;
        input {
            align-self: center;
        }
        label {
            padding-left: 16px;
        }
        b {
            padding: 0 5px;
        }
        button {
            margin: unset;
        }
        .title {
            // border-bottom: 1px solid $gray-400;
            padding-bottom: 5px;
        }
        .sub-title {
            padding-left: 16px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}