@import '../../scssStyles/variable';
.checkout {
    padding: 16px;
    color: $dark;
    font-size: 16px;
    h1 {
        text-align: center;
        padding: 40px;
    }
    .Billing-details {
        padding: 0 16px;
    }
    .Oders {
        border: 1px solid $dark;
        .oder-row {
            padding: 16px;
            line-height: 30px;
            border-bottom: $gray-400 2px solid;
            min-height: 50px;
            input {
                align-self: center;
            }
            label {
                padding-left: 16px;
            }
        }
    }
}