@import '../../../../../scssStyles/variable';
.header {
    height: 48px;
    width: 100%;
    background-color: white;
    border: 1px solid $gray100;
    border-top: none;
}

.right-side {
    display: flex;
    height: 48px;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size;
    margin-right: 30px;
    .admin-name {
        margin-left: 10px;
        margin-right: 10px;
        color: $gray600;
        cursor: pointer;
    }
    i {
        font-size: 16px;
        color: $gray600;
    }
}

.logout {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.left-side {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        font-size: $text-large;
    }
}

.dash-board {
    margin: 0;
    display: block;
}