@import '../../../scssStyles/variable';
.side-bar {
    min-height: calc(100vh - 48px);
    background-color: white;
    flex: 1;
}

.main-content {
    max-height: calc(100vh - 48px);
    overflow: auto;
    background-color: $silver;
    flex: 1;
    padding-bottom: 40px;
}

.flex {
    display: flex;
}