@import '../../../scssStyles/variable';
.side-bar {
    min-height: 100vh;
    background-color: #111827;
    flex: 1;
}

.main-content {
    min-height: calc(100vh - 48px);
    max-height: calc(100vh - 48px);
    overflow: auto;
    background-color: $gray50;
    flex: 1;
    padding-bottom: 40px;
}

.flex {
    display: flex;
}