.upload-img {
    margin: 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
        width: 90px;
        height: 120px;
        object-fit: cover;
    }
}

input[type="file"] {
    margin-right: 20px;
}

.btn--upload {
    padding: 4px 8px;
    height: 28px;
    border: none;
    margin-right: 10px;
}