@import '../../../scssStyles/variable';
.order-empty {
    padding: 10%;
    font-size: $font-size;
    text-align: center;
}

.ml-15 {
    margin-left: 15px;
}

.order-detail-item {
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
}

.action {
    .approve,
    .cancel {
        background-color: $bg-green;
        padding: 3px 6px;
        border-radius: 5px;
        color: white;
    }
    .cancel {
        background-color: $error;
    }
}