.center-item {
  justify-content: center;
}
.center-item--mobile {
  justify-content: start;
}

.card {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  border-radius: 12px;
}
.shadow {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #fff;
  padding: 16px;
}
