@import './variable';
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    background-color: white;
}

tr {
    cursor: pointer;
    &:nth-child(2n-2) {
        background-color: $gray100;
    }
}

td,
th {
    color: $dark-gray;
    padding: 10px;
    text-align: center;
}

th {
    background-color: $text-active;
    color: white;
}

.action {
    display: flex;
    justify-content: center;
    .delete {
        cursor: pointer;
        margin-right: 30px;
        &:hover i {
            color: $dark;
        }
    }
    .edit {
        cursor: pointer;
        &:hover i {
            color: $dark;
        }
    }
}

td img {
    width: 60px;
    height: 60px;
    display: inline-block;
    object-fit: cover;
}

.table-scroll {
    max-height: calc(100vh - 180px);
    overflow-y: scroll;
}