$border-color: #eae8e4;
$dark: #161619;
$red-light:#f75454;
$gray-700: #7c6e65;
$gray-400: #BDC3C7;
$pink-light: #fff6f6;
$pink-dark: #fdebeb;
$btn-color: #040405;
$err-color: #F8D7DA;
$gray600: #414956;
$gray500: #7a8088;
$gray200: #d2d7e1;
$gray100: #e3e7ef;
$gray50: #f3f5f8;
$gray10: #fbfbfb;
$red: #d53b2a;
$dark-gray: #171c27;
<<<<<<< HEAD
$yellow:#fab11e;
=======
$font-size: 1.6rem;
$text-large: 2.4rem;
>>>>>>> 7defded (add product detail)
