@import './grid';
@import './base';
@import './variable';
@import './form';
@import './mixin';
@import './responsive';
@import './table';
@import './common';
* {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}