@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import "./grid";
@import "./base";
@import "./variable";
@import "./form";
@import "./mixin";
@import "./responsive";
@import "./table";
@import "./common";
@import "./animation";
* {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.8rem;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
  overflow: overlay;
}

.main-container {
  min-height: calc(100vh - 80px - 249px);
}
